.app{
  background-color: #000000;
}
.navbar{
  background-color: #ddf87d;
  color: #fff;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 10px 1px black;
}

.search-field {
  display: flex;
  position: relative;
  width: 100%;
  align-items: left;

  text-align: left;
}

.search-field input {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  align-items: left;
  border: none;
  height: 30px;
  width: 100%;
  
}
.search-field input:focus,
      textarea:focus,
      select:focus,
      a:focus {
        outline: none;
      }

.search-field i {
  font-size: 1.2rem;
}


label{
  color: black;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.popup-inner h3{
  color: black;
  text-align: center;
}

.popup input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.popup button {
  margin-right: 10px;
}


.main-table {
  width: 100%;
    box-shadow: 1px 1px 3px 2px #999;
 margin-left: 10px;
    border-collapse: collapse;
    border: 1px black;
    background-color: #ddf87d;
    
}


th, td {
  border: 1px solid #ffffff;
  padding: 7px;
}

th {
  background-color: #f1f1f1;
}

.main-table tr:hover {
  background-color: #f5f5f5;
}







  .detail-section{
  
  background-color:#dfdfdf ;
   margin-left: 10px;
  margin-bottom: 10px;
  
}
.detail-section:hover{
  
  background-color:#dfdfdf ;
   margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #000000;
}

th .code-field{
display: flex;
padding-top: 15px;
}
.source-label{
  font-size: 13px;
}
.detail-class{
  padding: 10px;

}
.error-field{
width: 90%;
height: 20px;
margin-left: 10px;
padding: 10px;
align-content: normal;
background-color: #ffffff;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.264);
}
.edit-detail input{
  border-radius: 12px;
  margin-top: 10px;
}

.detail-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}



.detail-field{
  left: 50px;
  height: 100%;
  padding: 10px;
}



.detail-container h2 {
  margin-bottom: 10px;
}

.detail-container p {
  margin-bottom: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}



.buttons {
  text-align: right;
  margin-top: 10px;
}



.buttons button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #aaaaaa;
  color: rgb(0, 0, 0);
}




/* .navbar {
  position: fixed;
  display: flex;
  background-color: #d2e9a2;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  padding: 30px;
} */


.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  box-shadow: 1px 1px 5px 1px black;
  transition: left 0.3s ease-in-out;
}

.sidebar.visible {
  left: 0; 
  transition: 0.2s;
}

.main-content {
  margin-left: 360px;   padding-top: 65px;
  padding-right: 19px;
  transition: 0.4s; 
  background-color: #ffffff62;
}

.main-content button {
  padding: 8px 15px;
  border: 1px solid rgb(187, 181, 181);
  background-color: #0d9500;
  color: #fff;
  cursor: pointer;

}




.toggle-btn {
  background-color: #cbcbcb;
  color: #010101;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-right: 1px solid black;
}



.toggle-btn-active {
  background-color: #ddf87d; /* Change to the color you desire */
}
.toggle-btn {
font-size: 20px;
}
.side-bar{
  position: fixed;
  top: 50px;
  padding-top: 40px;
  width: 250px;
  height: 100%;
  background-color: #e0e0e0;
  transition: left 0.3s ease;
}
.sidebar-heading {
  margin-left: 10px;
  width: 85%;
  background-color: #ddf87d;
  color: rgb(46, 46, 46);
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid rgb(107, 107, 107);
  box-shadow: 1px 1px 1px 1px rgb(133, 131, 131);
}

.sidebar-heading:hover {
  background-color: #cfcfcf;
  transition: 1s;
}
.side-bar-top Link{
  display: flex;
  justify-content: center;
  margin: none;
 
  padding: 0px;
}
.checkbox-container {
  padding: 10px;
  display: inline;
}

.checkbox-container label {
 
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
}

.checkbox-row {
   margin-top: 10px;
}

.checkbox-item {
 
 display: flex;
 margin-left: 10px;
 margin-top: 6px;
}

.checkbox-item label {
  color: rgb(0, 0, 0);
  font-size: 14px;

}

.checkbox-item input[type="checkbox"] {
  margin-right: 5px;
}

.dropdown-container {
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
}
.dropdown-container-system{
  
  padding: 10px;
}

.dropdown-container  select ,
.dropdown-container-system select{
  width: 90%;
padding: 4px;  
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #fff;
}

.system-name ,
.error-source,
.system-name{
  margin-left: 5px;
  font-size: 14px;
  color: black;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown select {
  padding-right: 30px;
}


.clear-btn {
  position: relative;
  left: 3px;
  background-color: rgba(255, 0, 0, 0.781);
  top: 35%;
  border-radius: 11px;
  padding-bottom: 3px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
}

.file-grab{
  background-color: #ffffff;
 padding-right: 10px;
}

.file-grab button{
  background-color: #006212;
  border-radius: 10px;
  color: white;
}

.file-grab button:hover{
  background-color: #00991c;
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}

.second-table{
  padding: 10px;
}

.no-data{
  text-align: center;
  width: 100%;
}
.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination{
  text-align: end;
}
.pagination-summary{
  width: 100%;
  display: flex;
}

.lower-main-table{
  width: 100%;
  margin-left: 10px;
}
.lower-main-table td{
  border: transparent;
}